<form action="<%= Yakiudon::Config.url %>/edit/<%= @day.id %>" method="POST">
	<textarea name="body" style="width: 500px; height: 400px"><%= @day.markdown %></textarea><br>
	<input type="submit" value="Save">
</form>
